<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <!--<clear />-->
    <!--       <add key="gusty" value="https://www.myget.org/F/gusty-feed/api/v3/index.json" protocolVersion="3" /> -->
<!--
      <add key="local" value="/tmp/nuget/packages"  />

-->
   <add key="wallymathieu" value="https://www.myget.org/F/wallymathieu/api/v3/index.json" protocolVersion="3" />
   <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
 </packageSources>
</configuration>
